h1,h2,h3,h4,h5,h6,dt,dl,dd{
	margin:0;
	padding:0;

}
html *{
	font-size:1em;
}
img{
	border:0;
}
body{
	/*background:url(../img/bg01.gif);*/
	margin:0;
	padding:0;
	text-align:center;
	font-family: normal arial, helvetica, hirakakupro-w3, osaka, "ms pgothic", sans-serif;

}
a:link,a:visited{
	color:#006;
}
.mb10{
	margin-bottom:10px;
}
/**********************
layout
------------------------*/
#container{
	/*background:#fff url(../img/bg-container.gif) repeat-y center top;*/
	width:930px;
	margin:0 auto;
	padding:0 auto;
	text-align:left;
}
#footer{
	padding:0px 15px;
	text-align:left;
	clear:both;
}
#content{
	margin:0px 15px 0px 15px;
	padding-top:15px;
	clear:both;
	background:#fff;
	
}
#entry #content{
	border-top:none;}
#wrapper{
	float:left;
	width:690px;
	overflow:hidden;
	margin-bottom:40px;
}
#main{
	float:right;
	width:470px;
	margin-top:0px;
}
#side1{
	float:left;
	width:200px;
	margin-top:0px;
	
}
#side2{
	float:right;
	width:190px;
	margin-top:0px;
}

#header{
	position:relative;
	padding:0px 15px;
	text-align:left;
}
#header h1{
	background:#9c0 url(../img/bg-hdr1.gif) repeat-x;
	color:#fff;
	font-size:12px;
	height:50px;
	min-height:50px;
	font-weight:normal;
}
#header h1 img{
	vertical-align:middle;
}
.box{
	overflow:hidden;
	border-top:1px solid #ccc;
	padding:15px 0px;
}
#header h2{
	float:left;
	width:670px;
	padding-top:5px;
}
#header h3{
	clear:both;
	padding-top:15px;
	margin-bottom:15px;
}
#header .sitedescription{
	height:200px;
	font-size:12px;
	over-flow:auto;
	color:#333;
}
.sitedescription p{
	margin:0px 10px 0 0;
	padding-top:100px;
	
}

#header h4{
	font-size:1em;
	color:#690;
	padding-bottom:8px;
	
}
.greeting{
	padding:1em;
	line-height:1.5;
	font-size:12px;
	clear:both;
}
.sbm{
	position:absolute;
	left:220px;
	top:55px;
	border:#f90 solid 1px;
	padding:5px;
	width:400px;
	text-align:right;
	background:url(../img/bg-sbm.gif) no-repeat left 50%;
}
.sbm a{
	padding:0 2px;
}
.global-navi{
	position:absolute;
	top:0px;
	width:910px;
	margin:0;
	padding:0;
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
.global-navi li{
	list-style:none;
	float:left;
	width:auto;
}
.global-navi li a{
	display:block;
	padding:8px 15px;
	font-size:12px;
	text-decoration:none;
	color:#333;
}
.global-navi li a:hover{

}
/*dl frame*/
.dlbtn{
	position:absolute;
	top:5px;right:150px;
}
/*main*/
#main h2{
	border-bottom:4px solid #f90;
	font-size:1em;
	padding:4px 8px;
}
.new-template{
	text-align:center;
}
.template-box{
	float:left;
	width:33%;
	font-size:14px;
	padding-bottom:15px;
}
#entry .template-box{
	list-style:none;
}
#entry ul{
	margin:10px 0 0 0;
	padding:0;
}
.template-box-entry{
	float:left;
	width:170px;
	font-size:12px;
}
#main p{
	font-size:90%;
	line-height:1.5;
}
#main dl{
	margin:0;
	padding:0;
	text-align:center;
}
.template-box dd,.template-box dt{
	margin:0;
	padding:0;
}
.gas{
	float:left;
	margin-top:20px;
	width:730px;
}
/*#home .gas{
	float:left;
	width:280px;
	border-right:1px solid #ddd;
}*/
.gas2{
	float:right;
	width:140px;

}
/****sidebar detail*/
#side1 dl{
	font-size:12px;
	margin:0;
	padding:0;
}
#side1 dt{
	padding-left:15px;
	margin:1em 0.5em 0.5em 0.5em;
	background:url(../img/ico-arrow9c0.gif) no-repeat;
}
#side1 dt a{
	text-decoration:none;
	color:#333;
}
#side1 dd{
	padding:2px 1em;
	margin:0 1em;
	background:url(../img/ico-arrow333.gif) no-repeat left 50%;
}
#side1 dd a{
	color:#333;
}
#side1 h4,#side2 h4{
	font-size:90%;
	border-bottom:4px solid #9c0;
	padding:5px 8px;
}
#side2 p{
	font-size:12px;
	line-height:1.4;
}
#side2 .common{
	margin:8px 0 0 0;
	padding:0;
}
#side2 .common dt{
	font-size:12px;
	padding:4px 1em;
}
#side2 .common dd{
	font-size:12px;
	padding:2px 1em 0 1.5em;
}

#footer address{
	padding:15px 0px 10px 0px;
	text-align:center;
	background:#9c0 url(../img/bg-address.gif) repeat-x;
	font-size:12px;
	color:#fff;
	font-style:normal;
}
.clr{
	clear:both;
}

#main .tos{
	padding:0.5em;
	clear:both;
	border-top:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;
}
#main .tos h3{
	background:url(../img/info.gif) no-repeat;
	font-size:12px;
	color:#444;
	padding-left:20px;
}
#main .tos p{
	font-size:12px;
	color:#444;
}
strong{
	color:#464886;
}
#entry #main dl{
	margin:15px 0px;
}
